
/* index.html */

#page1 {
  background:url(../images/bg_top1.jpg) top repeat-x #fff
}
#page1 header {
	height:641px
}
#page1 .body1 {
	background:url(../images/bg_top_img1.jpg) top center no-repeat
}
#page1 #slogan {
	background:url(../images/line_top1.gif) 0 0 no-repeat
}

